body {
  min-width: 1200px;
  margin: 0;
  padding: 0;

  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(0, 0, 0, 0);
}

/*Кнокпки*/
.button {
  font-size: inherit;
  line-height: 18px;
  text-transform: uppercase;
  background-color: #fb565a;

  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  color: #ffffff;

  border: none;
}

.slide-button {
  display: block;

  width: 240px;

  padding-top: 17px;
  padding-bottom: 17px;

  border-radius: 3px;
}

.advantage-button-site,
.advantage-button-apps,
.advantage-button-presentation {
  display: block;

  width: 160px;

  padding-top: 17px;
  padding-bottom: 17px;

  border-radius: 3px;
}

.slide-button:hover,
.advantage-button-site:hover,
.template-button:hover {
  background-color: #e74246;
}

.slide-button:active,
.advantage-button-site:active,
.template-button:active {
  background-color: #d7363b;
  color: #e7878b;
}

.advantage-button-apps {
  background-color: #00ca74;
}

.advantage-button-apps:hover {
  background-color: #01bc6d;
}

.advantage-button-apps:active {
  background-color: #00aa63;
  color: #77c59b;
}

.advantage-button-presentation {
  background-color: #efc849;
}

.advantage-button-presentation:hover {
  background-color: #eab535;
}

.advantage-button-presentation:active {
  background-color: #e6a823;
  color: #eec279;
}

.filter-button,
.pagination-link {
  background-color: #eeeeee;
  color: #000000;
}

.filter-button:hover,
.pagination-link:hover {
  background-color: #dfdfdf;
}

.filter-button:active,
.pagination-link:active {
  background-color: #d5d5d5;
  color: #acacac;
}

/*Списки*/
.navigation-list,
.slider-list,
.advantages-list,
.partners-list,
.footer-social-list,
.about-us-list,
.filter-list,
.sort-list,
.templates-list,
.pagination-list {
  list-style: none;
}

.main-header-logo:hover {
  opacity: 0.8;
}

.main-header-logo:active {
  opacity: 0.1;
}



.main-header {
  width: 100%;

  background-color: #eeeeee;
  color: #000000;
}

.main-header a {
  color: #000000;
  line-height: 30px;
  font-weight: 500;
  text-transform: uppercase;
}

.main-header a:hover {
  color: #ff525d;
}

.main-header a:active {
  color: #bbbbbb;
}

.main-navigation .selected {
  text-decoration: underline;
  text-decoration-color: #fc555c;
}

.main-header-wraper {
  display: flex;
  justify-content: space-between;

  width: 1200px;
  margin: 0 auto;
  padding-top: 50px;
}

.navigation-list {
  min-width: 440px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 10px;
  padding-right: 85px;
}

.main-header-cart {
  padding-top: 27px;
}

.navigation-link,
.cart-link {
  display: block;
}

.cart-link {
  position: relative;
  padding-left: 45px;
}

.cart-link::before {
  content: "";

  position: absolute;
  top: 4px;
  left: 10px;

  width: 17px;
  height: 22px;

  background-image: url("../img/cart-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 3px;

  opacity: 0.3;
}

.slider-wrapper {
  width: 1200px;
  margin: 0 auto;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 20px;
  padding-right: 20px;
}

.slider {
  position: relative;

  background-color: #eeeeee;
  color: #000000;

  margin-bottom: 80px;
}

.slider-list {
  margin: 0;
  padding: 0;
}

.slide-item {
  display: none;
  padding: 78px 0 80px 0;
}

.slide-item:nth-child(1) {
  display: block;
}

.slide-title {
  max-width: 600px;
  margin: 0;
  margin-bottom: 27px;

  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
}

.slide-text {
  max-width: 430px;
  margin: 0;
  margin-bottom: 35px;
}

.slider-controls {
  position: absolute;
  left: 50%;
  bottom: 104px;
  z-index: 100;

  width: 160px;
  height: 18px;

  text-align: center;
  font-size: 0;
  transform: translateX(-40%);
}

.slider-switch {
  position: relative;

  display: inline-block;
  width: 18px;
  height: 18px;
  padding: 8px;

  border-radius: 50%;
  cursor: pointer;
}

.slider-switch::after {
  content: "";
  width: 18px;
  height: 18px;
  background: #ffffff;

  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 1;

  border-radius: 50%;
}

.slider-controls .active::before {
  content: "";

  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;

  width: 4px;
  height: 4px;
  margin: -4px;

  background-color: inherit;
  border: 2px solid #c1c1c1;
  border-radius: 50%;
}

.slide-item:nth-child(1) {
  background-image: url("../img/slide1.png");
  background-repeat: no-repeat;
  background-position: 93% 18px;
}

.slide-item:nth-child(2) {
  background-image: url("../img/slide2.png");
  background-repeat: no-repeat;
  background-position: 100% 0;
}

.slide-item:nth-child(3) {
  background-image: url("../img/slide3.png");
  background-repeat: no-repeat;
  background-position: 100% 20px;
}

.advantages {
  width: 1200px;
  margin: 0 auto;
}

.advantages-list {
  margin: 0 0 122px 0;
  padding: 0;
  display: flex;
}

.advantages::after {
  content: url("../img/divide.png");

  position: absolute;

  left: 192px;
  top: 1052px;

  width: 1200px;
  height: 2px;

  z-index: 34;
}

.advantage-item {
  width: 300px;
  padding-right: 100px;
}

.advantage-title {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.advantage-text {
  max-width: 260px;
  margin-bottom: 35px;
}

.about-us-container {
  display: flex;
  align-items: stretch;

  width: 1200px;
  margin: 0 auto;
}

.about-us {
  width: 660px;
  margin-right: 140px;
  margin-bottom: 95px;
}

.about-us-title {
  font-size: 45px;
  line-height: 54px;
  font-weight: 500;
}

.about-us-list-title {
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;

  padding-top: 17px;
}

.about-us-item {
  padding-top: 15px;
  padding-bottom: 15px;
}

.about-us-item::before {
  content: "";
  display: block;

  position: absolute;

  left: 193px;

  width: 25px;
  height: 2px;

  margin-top: 10px;
  background-color: #fb565a;
}

.studio-logo {
  margin-bottom: 40px;
  padding-top: 10px;
}

.studio-table {
  width: 360px;
}

.table-caption {
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.table-header {
  font-size: 45px;
  line-height: 54px;
  font-weight: 700;
  text-align: left;
}

.table-data {
  max-width: 100px;
  padding-top: 20px;
}

.partners {
  width: 1200px;
  margin: 0 auto;
}

.partners::before {
  content: url("../img/divide.png");

  position: absolute;

  left: 192px;
  top: 1645px;

  width: 1200px;
  height: 2px;

  z-index: 34;
}

.partners::after {
  content: url("../img/divide.png");

  position: absolute;

  left: 192px;
  top: 1830px;

  width: 1200px;
  height: 2px;

  z-index: 34;
}

.partners-list {
  display: flex;
  margin-bottom: 130px;
}

.partner-item {
  margin-right: 100px;
}

.partner-logo {
  opacity: 0.2;
}

.partner-logo:hover {
  opacity: 1.0;
}

.partner-logo:active {
  opacity: 0.1;
}

.footer-map {
  margin-bottom: 70px;
}

.footer-contacts {
  position: absolute;

  width: 319px;
  height: 309px;

  left: 193px;
  top: 2000px;

  background-color: #ffffff;
}

.contacts-title {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;

  padding: 20px 0 0 50px;

  text-transform: uppercase;
}

.contacts-data {
  max-width: 215px;

  font-size: 16px;
  line-height: 18px;
  color: #666666;

  padding-left: 50px;
}

.phone {
  display: block;
  margin-top: 20px;
  margin-bottom: 30px;

  color: #666666;
}

.contacts-button {
  display: block;

  width: 220px;

  padding-top: 17px;
  padding-bottom: 17px;
  margin-left: 50px;

  border-radius: 3px;
  cursor: pointer;
}

.footer-social-container {
  display: flex;
  width: 1200px;
  margin: 0 auto;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 140px 0 0;
  padding: 0;
  width: 260px;
  justify-content: space-between;
}

.social-button {
  display: flex;

  align-items: center;
  justify-content: center;

  width: 80px;
  height: 80px;

  border-radius: 50%;
  background-color: #e1e1e1;
}

.social-button:hover {
  background-color: #e74246;
}

.social-button:active {
  background-color: #d7373b;
}

.social-button:active path {
  opacity: 0.3;
}

.footer-text-social {
  max-width: 560px;
  line-height: 30px;
}

.social-discount {
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
}

/*Стили формы обратной связи*/

.modal {
  position: fixed;

  font-size: 16px;
  line-height: 18px;
  font-weight: 700;

  color: #000000;
  background-color: #ffffff;

  box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.8)
}

.modal-feedback {
  top: 120px;
  left: 293px;

  width: 760px;
  padding-top: 50px;
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 80px;

  z-index: 150;
}

.modal-close {
  position: absolute;

  top: 92px;
  left: 847px;

  width: 22px;
  height: 22px;

  border: 0;
  background-color: inherit;
  cursor: pointer;
}

.modal-close::before {
  content: "";
  display: block;

  position: absolute;

  top: 1px;
  left: 1px;

  width: 21px;
  height: 21px;

  background-image: url("../img/close-cross.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  opacity: 0.3;
}

.modal-close:hover::before {
  opacity: 1.0;
}

.modal-close:active::before {
  opacity: 0.1;
}

.modal-title {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
}

.feedback-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.feedback-item {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 360px;
}

.feedback-item:nth-child(3) {
  width: 760px;
}

.feedback-item label {
  display: block;
  margin-bottom: 10px;
}

.feedback-item input {
  box-sizing: border-box;
  width: 360px;
  padding-top: 16px;
  padding-left: 16px;
  padding-bottom: 16px;
}

.feedback-item textarea {
  box-sizing: border-box;
  padding-top: 16px;
  padding-left: 16px;
  padding-bottom: 16px;
  width: 760px;
}

.feedbak-button {
  display: block;

  width: 260px;

  padding-top: 17px;
  padding-bottom: 17px;
  margin-top: 45px;

  border-radius: 3px;
  cursor: pointer;
}

.feedback-item input,
.feedback-item textarea {
  border: 2px solid #d7dcde;
}

.feedback-item input:hover,
.feedback-item textarea:hover {
  border: 2px solid #b5b9ba;
}

.feedback-item input:focus,
.feedback-item textarea:focus {
  border: 2px solid #000000;
  color: #000000;
}

.feedback-item input:invalid,
.feedback-item textarea:invalid {
  border: 2px solid #e74449;
  color: #e74449;
}

/*Стили страницы каталога*/

.page-title {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
}

.filter-title,
.sort-title {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.value {
  background-color: #eeeeee;
}

.filter-name {
  opacity: 0.7;
}

.filter-name:hover {
  opacity: 1.0;
}

.filter-name:disabled {
  opacity: 0.1;
}

.sort-link {
  color: #000000;
  opacity: 0.3;
  font-size: 14px;
  line-height: 18px;
}

.sort-link:hover {
  opacity: 0.5;
}

.sort-link:active {
  opacity: 1.0;
}

.template-link {
  color: #000000;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.template-data {
  font-size: 16px;
  line-height: 18px;
}
